
const PORT= 8000
DB_URL= your_mongodb_connection_string_here
JWT_SECRET= your_jwt_secret_here
SMTP_HOST= your_smtp_host_here
SMTP_PORT= your_smtp_port_here
SMTP_USER= your_smtp_user_here
SMTP_PASS= your_smtp_pass_here
APP_NAME= your_app_name_here
GEMINI_API_KEY=your_api_key