PORT=8000
DB_URL=your_mongodb_connection_string_here
JWT_SECRET=your_jwt_secret_here
BREVO_API_KEY=YOUR_BREVO_API_KEY
EMAIL_FROM=your_email_from_here
APP_NAME=your_app_name_here
GEMINI_API_KEY=your_api_key